<!-- _includes/toc.html -->
<div id="inlineTOC">
  <ul>
    <li><a href="starting-to-use.html">Getting started</a></li>
    <ul>
      <li><a href="starting-to-use.html#definitions">Three important words</a></li>
      <li><a href="starting-to-use.html#config">Your own private configuration</a></li>
    </ul>
    <li><a href="cronies.html">All cronies</a></li>
    <ul>
      <li><a href="cronies.html#campfire">campfire</a></li>
      <li><a href="cronies.html#jabber">jabber</a></li>
      <li><a href="cronies.html#mail">mail</a></li>
      <li><a href="cronies.html#stdout">standard output</a></li>
      <li><a href="cronies.html#trac">trac</a></li>
      <li><a href="cronies.html#twitter">twitter</a></li>
    </ul>
    <li><a href="scripts.html">All scripts</a></li>
    <ul>
      <li><a href="scripts.html#fanout">fanout: broadcast a message</a></li>
      <li><a href="scripts.html#watchdog">watchdog: report on a script</a></li>
      <li><a href="scripts.html#svntell">svntell: Subversion post-commit</a></li>
    </ul>
  </ul>
</div>

