<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- {{ page.url }} -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Gossip{% if page.title != "Gossip" %} {{ page.title }}{% endif %}</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml" />
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>

<body>
  <div id="pageBody">
    <div id="outer-container">
      <div id="container">
        <div id="header">
          <div id="headerLeft"></div>

          <div id="headerRight">
            <h1>Gossip</h1>

            <h2><span class="highlight">tools for telling people things</span></h2>
          </div>
        </div>

        <div id="headerNav">
          <div id="centerNav">
            <ul>
              <li{% if page.url == "/index.html" or page.url == "/" %} id="current"{% endif %}>
                <a href="index.html">Home</a></li>
              <li{% if page.url == "/installation.html" %} id="current"{% endif %}>
                <a href="installation.html">Installation</a></li>
              <li{% if page.url == "/starting-to-use.html" %} id="current"{% endif %}>
                <a href="starting-to-use.html">Using Bundled Scripts</a></li>
              <li{% if page.url == "/writing-new-scripts.html" %} id="current"{% endif %}>
                <a href="writing-new-scripts.html">Writing Scripts</a></li>
              <li><a href="rdoc">RDoc</a></li>
              <li><a href=
              "http://rubyforge.org/frs/?group_id=4455">Download</a></li>
              <li><a href=
              "http://rubyforge.org/mail/?group_id=4455">Lists</a></li>
            </ul>
          </div>
        </div>

        <div id="content">
{{ page.content }}
        </div>

        <div id="footer">
          Design by <a href="http://www.alltechnologydirectory.com/" class=
          "normal">aybabtu</a><br />
          Support Open Source: <a href="http://www.openstockphotography.org/"
          title="Open Stock Photography">Open Stock Photography</a> | <a href=
          "http://www.openwebdesign.org/">Open Web Design</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
